<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TRUTUBE</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <script src="./js/axios.min.js"></script>
        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
        <script>
            var data = <%-JSON.stringify(data[0]) %>;
            var searchParams = {
                keyword:""
            };

            function playNext(params){
                axios.get("/randomvid",{
                    params:{
                        keyword: params.keyword,
                        publishedBefore: params.publishedBefore,
                        relevanceLanguage: params.relevanceLanguage
                    }
                }).then(result => {
                    data = result.data[0];
                    console.log(result);
                    videoId = result.data[0].id;
                    title.innerHTML = result.data[0].title
                    published.innerHTML = "published at " + clearDate(result.data[0].publishedAt)
                    player.loadVideoById({
                         videoId: videoId,
                         startSeconds: 0
                     })
                })
            }

            function saveVidId(id){
                axios.post("/savevid",{ id: id })
                    .then(result => {
                    console.log("vid was saved " + JSON.stringify(result.data.data));
                })
            }

            function clearDate(str){
               return str.slice(0,-14)
            }
        </script>
        <h2 id="logo">trutube</h2>
        <%- include('nav'); -%>
        <% if(data.length > 1) { %>
            <%- include('gallery',{vids: data}); -%>
        <% } else { %>
            <%- include('player'); -%>
            <%- include('controls'); -%>
        <% } %>
        <%- include('footer'); -%>
    </body>
</html>
